@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 100%;
    border:10px solid black;
    cursor: pointer;
    max-width: 400px;
}

html{
    background: rgba(240,240,240,1);
    font-family: 'Noto Sans JP', SansSerif, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
h1{

}